<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.iuservice.udacity.nanod.android.app.p1.spotifystreamer"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:name=".SpotifyStreamerApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/My.AppTheme">
    <activity
      android:name=".ui.activity.SearchArtistActivity"
      android:label="@string/title_activity_search_artist">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.activity.TopTrackActivity"
      android:label="@string/title_activity_top_track"
      android:parentActivityName=".ui.activity.SearchArtistActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activity.SearchArtistActivity"/>
    </activity>
  </application>
</manifest>
